html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.wrapper {
  width: 75%;
  margin: 0 auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

section.indent {
  padding: 60px 0; }

img {
  width: 100%;
  height: auto; }

.primary-btn {
  display: block;
  width: 200px;
  height: 55px;
  margin: 0 auto;
  color: #ffffff;
  font: 700 20px/55px "OpenSans", sans-serif;
  background: #39c9da;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center; }

.contact-form {
  margin-top: 30px; }
  .contact-form .primary-btn {
    width: 200px;
    margin: 30px auto; }

.feedback-form {
  width: 270px;
  color: #c9c9c9;
  font: 400 14px "OpenSans", sans-serif; }
  .feedback-form input {
    margin: 0 30px 30px 0;
    padding-left: 15px;
    width: 270px;
    height: 50px;
    border: 1px solid #e6e6e6; }
  .feedback-form li:nth-child(2) input {
    margin-bottom: 30px;
    padding-left: 15px;
    width: 270px;
    height: 50px;
    border: 1px solid #e6e6e6; }
  .feedback-form textarea {
    padding: 25px 15px;
    width: 270px;
    height: 150px;
    resize: none;
    border: 1px solid #e6e6e6; }
  .feedback-form input[type="submit"] {
    outline: none;
    border: none;
    cursor: pointer; }

@media screen and (min-width: 768px) {
  .feedback-form {
    width: 100%; }
    .feedback-form li:nth-child(1) {
      width: 100%; }
      .feedback-form li:nth-child(1) input[type="text"] {
        margin: 0 30px 30px 0; }
    .feedback-form li:nth-child(2) input {
      width: 575px; }
    .feedback-form textarea {
      width: 575px; }
    .feedback-form input[type="submit"] {
      float: right;
      margin-right: 30px; } }

.intro {
  background: url("../../img/header.jpg") no-repeat;
  width: 100%;
  min-height: 530px; }

.logo a {
  color: #39c9da;
  font: 700 30px "OpenSans", sans-serif; }
  .logo a span {
    color: #ffffff;
    font: 400 48px "Roboto", sans-serif; }

.hero {
  text-align: center;
  width: 90%;
  margin: 0 auto; }
  .hero h2 {
    padding: 150px 0 40px 0;
    color: #ffffff;
    font: 700 33px/45px "OpenSans", sans-serif;
    text-transform: uppercase; }

.about {
  width: 100%;
  min-height: 100vh; }

.h_head {
  color: #504f50;
  font: 700 20px "OpenSans", sans-serif;
  text-transform: uppercase;
  text-align: center; }

.p_head {
  padding: 25px 0 45px 0;
  color: #a8a8a8;
  font: 400 14px "OpenSans", sans-serif;
  text-align: center; }

.flex-conteiner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .flex-conteiner .col {
    max-width: 760px; }
    .flex-conteiner .col h3 {
      color: #504f50;
      font: 700 14px "OpenSans", sans-serif;
      text-transform: uppercase; }
    .flex-conteiner .col p {
      padding: 30px 0 0 0;
      color: #a8a8a8;
      font: 400 14px/20px "OpenSans", sans-serif; }
    .flex-conteiner .col img {
      padding: 45px 0 30px 0; }

.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8; }

.list-portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .list-portfolio .col {
    margin-bottom: 40px;
    max-width: 370px;
    height: auto;
    position: relative;
    overflow: hidden; }
    .list-portfolio .col img {
      display: block;
      width: 370px;
      height: auto; }
    .list-portfolio .col:hover .overlay {
      opacity: 1;
      top: 0;
      transform: scale(1); }
  .list-portfolio .foot-box {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8; }
  .list-portfolio h3 {
    padding-left: 15px;
    color: #504f50;
    font: 700 14px "OpenSans", sans-serif;
    text-transform: uppercase; }
  .list-portfolio span {
    padding-right: 20px;
    color: #aba7ab;
    font: italic 400 12px "OpenSans", sans-serif; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 370px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  transition: all .5s;
  transform: scale(0);
  opacity: 0; }

.overlay a {
  display: block;
  width: 170px;
  height: 50px;
  color: #ffffff;
  font: 600 16px/50px "OpenSans", sans-serif;
  background: none;
  border: 1px solid #ffffff;
  border-radius: 1px;
  text-align: center; }
  .overlay a:hover {
    background: #000000; }

.services {
  width: 100%;
  min-height: 100vh; }

.list-services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  .list-services .col {
    width: 275px;
    height: 300px;
    border: 1px solid #e2e2e2;
    padding: 25px 20px 20px 25px;
    margin-bottom: 30px; }
    .list-services .col h3 {
      color: #504f50;
      font: 700 20px "OpenSans", sans-serif;
      text-transform: uppercase;
      text-align: center; }
    .list-services .col p {
      padding: 35px 0 30px 0;
      color: #504f50;
      font: 400 14px/20px "OpenSans", sans-serif;
      text-align: center; }
    .list-services .col a {
      display: block;
      width: 130px;
      height: 35px;
      margin: 0 auto;
      color: #ffffff;
      font: 400 14px/35px "OpenSans", sans-serif;
      background-color: #4b4a4b;
      border-radius: 1px;
      text-align: center; }

.feedback {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8; }

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .flex-container .col h3 {
    color: #504f50;
    font: 700 14px "OpenSans", sans-serif;
    text-transform: uppercase; }
  .flex-container .col p {
    padding: 30px 0 25px 0;
    color: #a8a8a8;
    font: 400 14px/20px "OpenSans", sans-serif; }
  .flex-container .col dt {
    padding-bottom: 30px;
    color: #504f50;
    font: 700 14px "OpenSans", sans-serif; }
  .flex-container .col dd {
    color: #a8a8a8;
    font: 400 14px "OpenSans", sans-serif; }

.footer {
  width: 100%;
  height: 50px;
  background: #39c9da; }
  .footer span {
    display: block;
    color: #ffffff;
    font: 400 14px/50px "OpenSans", sans-serif;
    text-align: center; }
