.feedback {
	width: 100%;
	min-height: 100vh;
	background-color: #f4f4f4;
	border: 1px solid #e8e8e8;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.col {
		h3 {
			color: $head_color;
			font: 700 14px $OpenSans;
			text-transform: uppercase;
		}
		p {
			padding: 30px 0 25px 0;
			color: $primary_font_color;
			font: 400 14px/20px $OpenSans;
		}
		dt {
			padding-bottom: 30px;
			color: $head_color;
			font: 700 14px $OpenSans;
		}
		dd {
			color: $primary_font_color;
			font: 400 14px $OpenSans;
		}
	}
}