.intro {
	background: url('../../img/header.jpg') no-repeat;
	width: 100%;
	min-height: 530px;
}

.logo {
	 a {
	 	color: $logo_color;
	 	font: 700 30px $OpenSans;
	 	span {
	 		color: $secondary_font_color;
	 		font: 400 48px $Roboto;
	 	}
	 }
}


.hero {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	h2 {
		max-width: 500px;
		margin: 0 auto;
		padding: 60px 0 40px 0;
		color: $secondary_font_color;
		font: 700 33px/45px $OpenSans;
		text-transform: uppercase;
	}
}

.menu-box {
	padding-top: 35px;
	a {
		color: $secondary_font_color;
		font: 700 15px $OpenSans;
		text-transform: uppercase;
	}
}
button.navbar-toggle {
	padding-top: 40px;
}

button.navbar-toggle .icon-bar {
	background: #ffffff;
}

@media screen and (min-width: 768px) {
	.hero {
		h2 {
			padding-top: 170px;
		}
	}
}

@media screen and (min-width: 992px) {
	.hero {
		h2 {
			padding-top: 190px;
		}
	}
}