.intro {
	background: url('../../img/header.jpg') no-repeat;
	width: 100%;
	min-height: 530px;
}

.logo {
	 a {
	 	color: $logo_color;
	 	font: 700 30px $OpenSans;
	 	span {
	 		color: $secondary_font_color;
	 		font: 400 48px $Roboto;
	 	}
	 }
}


.hero {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	h2 {
		padding: 150px 0 40px 0;
		color: $secondary_font_color;
		font: 700 33px/45px $OpenSans;
		text-transform: uppercase;
	}
}